
<div class="alert alert-success col-6 mt-5" role="alert">
  <p><%= @answer %></p>
</div>
<div class="alert alert-primary col-6" role="alert">
<p><%= @question %></p>
</div>
</div>
<%= link_to "Ask a new question", ask_path %>
